.inner-page {
	
	header {
		height: 550px;
		padding-top: 45px;
		background-position: center;
		background-repeat: no-repeat;

		.header {
			margin: 0 auto;
		}
		nav a {
			color: white;
		}
	}
	.carousel-slider-wrapper {
		margin-top: 16px;
		margin-bottom: 0;

		.carousel-slider {
			@include css3-prefix(transition, all .65s);

			li {
				margin-right: 0;
			}
		}
	}
	.carousel-navigation {
		padding-right: 32px;
	}
}

.project-desc {
	h2 {
		color: $pink;
		margin: 24px 0 120px;
		text-transform: uppercase;
	}
	h3 {
		color: $black;
		margin-bottom: 24px;
	}
	p {
		color: $black;
		font-weight: 300;
		font-size: 1.8rem;
	}
	hr {
		margin-top: 84px;
	}
}

.project-summary {
	h4 {
		margin-bottom: 32px;

	}
	p {
		font-size: 1.6rem;
		margin-bottom: 4px;
	}
	hr {
		width: 100%;
		margin: 64px 0 12px;
	}
	a {
		cursor: pointer;
	}
}

@media(max-width: 576px) {
	.inner-page {
		header {
			height: 200px;
			padding: 12px 12px 0;
			background-size: cover;
			
		}
		.carousel-navigation {
			padding-right: 20px;
			-ms-flex-pack: justify;
	    		justify-content: space-between;
		}
		.carousel-slider-wrapper .carousel-slider li strong {
			left: 0;
			@include css3-prefix(transform, translateX(0));
		}
	}
	.project-desc {
		hr {
			margin-top: 32px;
		}
		h2 {
			margin-bottom: 42px;
		}
	}
}