.works-section {
	hr {
		margin: 0 0 40px;
	}
	h2 {
		color: $green;
	}
}

.works-slider-wrapper {
	overflow: hidden;
	position: relative;
	margin-bottom: 36px;

	.works-slider {
		padding: 0;
		list-style: none;
		white-space: nowrap;
		@include css3-prefix(transition, all 1s);
		@include css3-prefix(transform, translateX(0));

		li {
			width: 775px;
			margin-right: 64px;
			display: inline-block;
		}
		img {
			max-width: 100%;
		}
		a {
			display: block;
		}
	}

	@media(max-width: 1400px) {
		.works-slider li {
			width: 695px;
		}
	}
	@media(max-width: 1200px) {
		.works-slider li {
			margin-right: 32px;
		}
	}
	@media(max-width: 1024px) {
		.works-slider li {
			width: 500px;
		}
	}
}

.carousel-navigation {
    margin: 1% 30% 0 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;

    li, ul {
    	display: inline-block;
    }
}

.arrow-navigation {
	text-align: right;
}

.carousel-arrow {
	color: $black;
	font-size: 2rem;
	cursor: pointer;
	@include css3-prefix(transition, all .25s);

	&.inactive {
		color: $lightgray;
		&:hover {
			color: $lightgray;
			@include css3-prefix(transform, scale(1));
		}
	}
	&:hover {
		color: $green;
		@include css3-prefix(transform, scale(1.4));
	}
}
.carousel-arrow-left {
	margin-right: 16px;
}

.carousel-dot {
	width: 8px;
	height: 8px;
	margin-right: 8px;
	border-radius: 100%;
	border: 1px solid $green;

	visibility: hidden;
	
	&.current {
		background-color: $green;
	}

	&:last-child {
		margin-right: 0;
	}
}