.works-section {
	hr {
		margin: 0 0 40px;
	}
	h2 {
		color: #2DCF6D;
	}
}

.works-slider {
	//height: 775px;
	width: 1110px;
}

.works-title {
	max-width: 14.5%;
}

.slick-slide img {
	max-height: 100%;
	max-width: 100%;
}

.slick-current {
	margin-right: 64px;
	width: 775px !important;
}
.slick-slider .slick-track {
	height: 775px;
}