<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<title>Miri's Portfolio - Website Statistics</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<script src="/js/angular.js"></script>
	<script src="/js/statisticsModule/statistics.controller.js"></script>
	<script src="/js/statisticsModule/statistics.factory.js"></script>
	<script src="/js/functions.factory.js"></script>
	<script src="/js/statisticsModule/statisticsBlock.component.js"></script>
</head>

<body class="inner-page website-statistics-page" ng-app="websiteStatistics">
	<section class="container about-section" ng-controller="websiteStatisticsController as ctrl">
		<h1 class="text-center mt-4 mb-4">{{ctrl.title}}</h2>
		
		<div class="row">
			<div class="col-5 margin-r-auto">
				<statistics-block visitors="ctrl.visitors"></statistics-block>
			</div>
			<div class="col-5">
				<statistics-block visitors="ctrl.todaysVisitors"></statistics-block>
			</div>
		</div>
		
	</section>
</body>

</html>